/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

global
{
	color: #000000;
	content-background-color: #FFFFFF;
	chrome-color: #CCCCCC;
	font-weight: normal;
}
